@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #203BFA;
    --cor2: #9320FA;
    --cor3: #4C20FA;
    --cor4: #2080FA;
    --cor5: #DA20FA;
    --cor6: #CFC5F9;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.menu-hamburguer {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1001;
}

.barra {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--cor6);
    margin: 5px 0;
    transition: 0.4s;
}

/*Header*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background-color: var(--cor1);
    border-bottom: 2px solid var(--cor6);
}


nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1.5rem 2rem; 
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

nav li {
    padding: 10px;
}

nav li a:hover {
    background-color: var(--cor4);
    border-radius: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

nav ul li a.active {
    background-color: var(--cor4);
    border-radius: 20px;
    padding: 10px;
}


/*Main*/

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 80px; 
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 8rem 2rem;
    width: 100%;
}

.initial-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    gap: 2rem; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, var(--cor4), var(--cor2));
    color: #1E293B;
}

.initial-text {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.initial-text h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #1E293B;
}

.initial-text h3 {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}


.initial-links a {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    border: 2px solid #9320FA;
    border-radius: 20px;
    margin-top: 20px;
}

.initial-links a:hover {
    background-color: var(--cor2);
    border: none;
}

.initial-image img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--cor2);
}

/*Text and Image About-me*/

.about-me {
    background: var(--cor6);
    color: #1E293B;
}

.text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: auto;
    color: #1E293B;

}

.text h2 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

.text p {
    font-size: 16px;
    font-weight: 500;
    margin: 40px 40px 0 0;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.image img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border: 5px solid var(--cor4);
    object-fit: cover;
}

/*Knowledge Cards*/

.knowledge {
    background: var(--cor4);
    color: #1E293B;
    flex-direction: column;
    text-align: center;
}

.knowledge h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.knowledge-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.knowledge .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(25% - 20px);
    height: 300px;
    border-radius: 20px;
    background-color: #fff;
}

.knowledge .card:hover {
    background-color: var(--cor6);
    transition: 0.3s;
}

.knowledge .card h3 {
    color: #000;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 25px;
}

.knowledge .card p {
    color: #000;
    font-weight: 500;
    padding: 0 20px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;

}

.knowledge .card img {
    width: 50px;
    height: 50px;
}

/*Project Cards*/

.projects {
    background: var(--cor6);
    color: #1E293B;
    flex-direction: column;
    text-align: center;
    padding-top: 80px;
}

.projects h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
}

.project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.projects .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 20px);
    height: 300px;
    border-radius: 20px;
    background-color: var(--cor4);
    padding: 10px;
}

.projects .card:hover {
    background-color: var(--cor1);
    transition: 0.3s;
}

.projects .card h3 {
    color: #000;
    font-weight: 700;
    margin: 10px 0;
    font-size: 24px;
}

.projects .card p {
    color: #000;
    font-weight: 500;
    padding: 0 10px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}

.projects .card a {
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: auto;
    border: 2px solid #DA20FA;
    border-radius: 20px;;
    text-decoration: none;
    color: #000;
}

.projects .card a:hover {
    background-color: var(--cor5);
    border: none;
    color: #fff;
}

.projects .card img {
    width: 210px;
    height: 200px;
    border-radius: 5px;
    border: 2px solid var(--cor5);
    object-fit: cover;
}

/*Contact Cards*/

.contact {
    background: var(--cor4);
    color: #1E293B;
    flex-direction: column;
    text-align: center;
}

.contact h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.contact p {
    color: #1E293B;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 50px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.contact-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contact ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0;
}

.contact ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 20px;
}

.contact ul li:hover {
    background-color: var(--cor6);
    transition: 0.3s;
}

.contact ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact ul li img {
    width: 30px;
    height: 30px;
}

/*Footer*/

footer {
    background-color: var(--cor1);
    color: #fff;
    text-align: center;
    padding: 20px 0;    
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 1000px) {
    .initial-section {
        flex-direction: column;
        gap: 20px;
    }

    .initial-text {
        align-items: center;
        text-align: center;
        line-height: 30px;
    }

    .initial-image img {
        width: 300px;
        height: 200px;
    }

    .initial-links {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .initial-links a {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .text {
        max-width: 500px;
        height: auto;
        align-items: center;
        text-align: center;
    }

    .about-me {
        flex-direction: column;
        gap: 50px;
        align-items: center; 
    }
    .knowledge .card,
    .projects .card {
        width: calc(50% - 20px);
    }

    .project-cards .card p {
        margin-top: 0px;
    }

    .project-cards .card a {
        width: 120px;
        padding: 5px;
    }

}


@media (max-width: 768px) {
    nav ul {
        display: none; 
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--cor1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        padding-left: 0;
    }

    
    nav ul.ativo {
        display: flex;
    }

    .menu-hamburguer {
        display: block; 
    }

    section {
        padding: 4rem 1.5rem;
    }

    .initial h1 {
        margin-left: 10px;
    }

    .initial h1,
    .initial-section h1 {
        font-size: 24px;
    }

    .initial-image img {
        max-width: 250px;
        height: 150px;
    } 

    .initial-links a {
        max-width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .text {
        max-width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .text p {
        margin: 20px 0 0 0;
    }

    .image img {
        width: 100%;
        max-width: 300px;
        height: 350px;
    }

    .knowledge .card,
    .projects .card {
        width: 100%;
        margin-left: 0;
    }

    .projects .card h3 {
        font-size: 20px;
        margin: 10px 0 0 0;
    }

    .projects .card p {
        font-size: 14px;
        margin: 10px 0 0 0;
    }

    .projects .card a {
        margin: 10px 0 0 0;
    }

    .contact ul {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}